<ul>
  <li><a href="/ctx/normalget?q='ox-13'">Get request</a></li>
  <li><a href="javascript:sendGetRequest();">AJAX Get request</a></li>
  <li><a href="javascript:sendPostRequest();">AJAX Post request</a></li>
  <li><a href="/ctx/redirect">Redirect quay lại get check ctx</a></li>
</ul>
<pre id="result"></pre>
<script>
  function sendGetRequest() {
    $.get("/ctx/ajaxget")
      .done(data => {
        let str = JSON.stringify(data, undefined, 2);
        $("#result").html(syntaxHighlight(str));
      });
  }
  function sendPostRequest() {
    $.get("/ctx/ajaxpost", { "key1": "value1", "key2": 100 })
      .done(data => {
        let str = JSON.stringify(data, undefined, 2);
        $("#result").html(syntaxHighlight(str));
      });
  }  
</script>