<h1>Demo all Iris V12 core features</h1>
<h2>Error Handling</h2>
<ul>
  <li><a href="/err/serialcall">Lỗi từ hàm con</a></li>
  <li><a href="/err/panic">Lỗi nghiêm trọng</a></li>
  <li><a href="/err/errdata">Lỗi trả về kèm thông tin bổ xung</a></li>
  <li><a href="/err/checkerr">Hàm tiện ích check error</a></li>
  <li><a href="/err/inputmail">Validate Email qua AJAX - JSON</a></li>
  <li><a href="/err/warning">Cảnh báo không ghi console hay file, chỉ trả về client</a></li>
  <li><a href="/err/callapi">Gọi một REST API lỗi</a></li>
  <li><a href="/err/retrycall">Retry gọi N lần rồi mới throw lỗi</a></li>
</ul>

<h2>Session Cookie</h2>
<ul>
  <li><a href="/cooksess/counter/show">Counter</a></li>
  <li><a href="/cooksess/sess/store">Lưu dữ liệu vào session</a></li>
  <li><a href="/cooksess/sess/get">Lấy dữ liệu từ session</a></li>
  <li><a href="/cooksess/sess/destroy">Xoá session khi logout</a></li>
</ul>

<h2>fiber.Context</h2>
<ul>
  <li><a href="/ctx/checkctxpage">Kiểm trả request đến</a></li>
  <li><a href="/ctx/chainhandlers">Nối tiếp các handlers: Handler1, Handler2, Handler3</a></li>
  <li><a href="/ctx/render_markdown">Render Markdown to HTML</a></li>
  <li><a href="/ctx/addhandler">AddHandler: Thêm hàm vào cuối danh sách handlers</a></li>
  <li><a href="/ctx/sethandler">SetHandler: Thay toàn bộ danh sách handlers</a></li>
  <li><a href="/ctx/getstopwitherror">ctx.StopWithError</a></li>
  <li><a href="/ctx/longasync">Gọi hàm long async</a></li>
 <!-- <li><a href="/ctx/passdata">Truyền dữ liệu qua context</a></li>
  <li><a href="/ctx/stopwitherror">Dừng request khi có lỗi</a></li>
  <li><a href="/ctx/fallbackview">Fallback View</a></li>
  <li><a href="/ctx/setfunc">Cài cắm function</a></li>
  <li><a href="/ctx/callfunc">Call function</a></li> -->
</ul>


