<h1>Demo all Iris V12 core features</h1>
<h2>Error Handling</h2>
<ul>
  <li><a href="/err/serialcall">Lỗi từ hàm con</a></li>
  <li><a href="/err/panic">Lỗi nghiêm trọng</a></li>
  <li><a href="/err/jsonerr">Lỗi kèm thông tin bổ xung</a></li>
  <li><a href="/err/checkerr">Hàm tiện ích check error</a></li>
  <li><a href="/err/inputmail">Validate Email qua AJAX - JSON</a></li>
  <li><a href="/err/warning">Cảnh báo không ghi console hay file, chỉ trả về client</a></li>
  <li><a href="/err/callapi">Gọi một REST API lỗi</a></li>
  <li><a href="/err/retrycall">Retry gọi N lần rồi mới throw lỗi</a></li>
</ul>

<h2>Session Cookie</h2>
<ul>
  <li><a href="/cooksess/counter/show">Counter</a></li>
</ul>

